<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692027562141-94dto0j88e2apij1folc0kkjlpecc6i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692027562141-94dto0j88e2apij1folc0kkjlpecc6i0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692027562141-a5mbct212vn29mvkr0sd303td6696qin.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-wSbe_RvY51gJ5HDTN3XaHRcdCAvn0tE</string>
	<key>GCM_SENDER_ID</key>
	<string>692027562141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spotkwik.doc</string>
	<key>PROJECT_ID</key>
	<string>surgeon-search-39aac</string>
	<key>STORAGE_BUCKET</key>
	<string>surgeon-search-39aac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692027562141:ios:ef3bc101ddf43ff727dc74</string>
</dict>
</plist>